<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JanesClothingDataAware.Properties.Settings.SalesConnectionString"
            connectionString="Data Source=AUSYDCABOOD-D1\SQLEXPRESS;Initial Catalog=Sales;Persist Security Info=True;User ID=sa;Password=sqlexpress"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>